body {
    margin: 0;
    background-color:whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav, header, footer, .introduction-container {
    background-color: #140a13;
}

.header-text {
    padding-top: 2rem;
    font-size: 1rem;
    padding-left: 6.25rem;
    color: rgb(229 166 210 / 62%);
    margin: 0;
}

.paragraph-styling {
    font-size: 1.125rem;
    
} 

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    margin-top: 1.25rem;
    padding: 0.625rem 1.25rem;
    font-weight: 500;
    border-radius: 0.313rem;
    background-color: hsl(256, 84%, 66%);
    color: whitesmoke;
    border: 0.125rem solid #b4b4f9;
}

button:hover {
    border: 0.125rem solid #fd006e;
    cursor: pointer;
    
}

button:active {
    box-shadow: 0 0 0.438rem white;
}


.header-logo-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 0.125rem #865ff1bf solid;
    color: #FF66A8;
    padding-bottom: 1.875rem;

}

.header-logo {
    font-size: 3.125rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}


.header-nav {
    align-content: center;
}

.header-nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;  
    
}

.header-nav ul li {
    list-style: none;
}

.header-nav ul li a {
    font-size: 1.125rem;
    color: #FF66A8;
    padding: 0.125rem ;
    transition: transform 0.2s;
    text-transform: uppercase;
    border: 0.063rem solid #FF66A8;
    text-decoration: none;
}

.header-nav ul li a:hover {
    text-decoration: underline;
    
}

.header-nav ul li a:active {
    font-weight: 900;
}



.introduction-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.125rem 6.25rem;
    color: whitesmoke;
}

.text-introduction-container, 
.image-introduction-container {
    flex: 1;
}

.text-introduction-title {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
}

.text-introduction-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.text-biografie-container {
    text-align: left;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

.image-introduction-container {
    text-align: center;
}

.image-introduction {
    margin-top: 1.875rem;
    height: 25rem;
    width: auto;
    border-radius: 5%;
    align-self: center;
}

.image-biografie {
    margin: 1.875rem 0 3rem 0;
}

.readmore-button-text-introduction-paragraph {
    align-self: flex-start;
}



.child-to-pioneer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6.25rem;
}

.child-to-pioneer-title {
    font-size: 1.563rem;
    color: white;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}    

.child-to-pioneer-illustration-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.125rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #140a13;
}

.child-to-pioneer-figure-container {
    max-width: 12.5rem;
}

.figure-child-to-pioneer {
    width: 12.5rem;
    height: 12.5rem;
    margin: 0.625rem;
}

.figcaption-child-to-pioneer {
    font-size: 0.75rem;
    color: white;
    text-align: center;
}

.image-child-to-pioneer {
    width: 12.5rem;
    height: 12.5rem;
    border: #865ff1 solid 0.125rem;
    border-radius: 5%;
}


.quote-container {
    background-color:#FF66A8;
    display: flex;
    justify-content: center;  
}

.quote-container .quote-name-box {
    display: flex;
    flex-direction: column;
    margin: 3.125rem 0;
    max-width: 56.25rem;
}

.quote-container .quote-text {
    font-size: 1.875rem;
    font-style: italic;
    color: #140a13;
    max-width: 56.25rem;
}

.quote-container .name-box {
    align-self: flex-end;
    margin-left: auto;
}


.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-box {
    display: flex;
    justify-content: space-around;
    background-color: #865ff1;
    width: 62.5rem;
    padding: 1.875rem;
    margin: 4.375rem;
    color: whitesmoke;
}

.title-text-newsletter, 
.paragraph-text-newsletter {
    padding-right: 0.938rem;
}

.get-newsletter {
    align-self: center;
}

/*footer CSS*/
footer {
    text-align: center;
    font-size: 1rem;
    padding: 1.125rem;
    color: #FF66A8;
    border-top: 0.125rem #865ff1ad solid ;
}

