body {
    margin: 0;
    background-color:whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, footer, .introduction-container {
    background-color: #140a13;
}

.paragraph-styling {
    font-size: 18px;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
    background-color: hsl(256, 84%, 66%);
    color: whitesmoke;
    border: 2px solid #b4b4f9;
}

button:hover {
    border: 2px solid #fd006e;
    cursor: pointer;
    
}

button:active {
    box-shadow: 0 0 7px white;
}


.header-logo-navigation {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px #865ff1 solid;
    color: #FF66A8;
    padding-bottom: 30px;

}

.header-logo {
    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}


.header-nav {
    align-content: center;
}

.header-nav ul{
    display: flex;
    gap: 20px;  
    
}

.header-nav ul li {
    list-style: none;
}

.header-nav ul li a {
    font-size: 18px;
    color: #FF66A8;
    padding: 2px 5px;
    transition: transform 0.2s;
    text-transform: uppercase;
    border: 1px solid #FF66A8;
    text-decoration: none;
}

.header-nav ul li a:hover {
    text-decoration: underline;
    
}

.header-nav ul li a:active {
    font-weight: 900;
}



.introduction-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    color: whitesmoke;
}

.text-introduction-container, 
.image-introduction-container {
    flex: 1;
}

.text-introduction-title {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.text-introduction-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.image-introduction-container {
    text-align: center;
}

.image-introduction {
    margin-top: 30px;
    height: 400px;
    width: auto;
    border-radius: 5px;
    align-self: center;
}

.readmore-button-text-introduction-paragraph {
    align-self: flex-start;
}



.child-to-pioneer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.child-to-pioneer-title {
    font-size: 25px;
    color: #1f2937;
    margin-top: 40px;
    margin-bottom: 20px;
}    

.child-to-pioneer-illustration-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: auto;
    margin-right: auto;
}

.child-to-pioneer-figure-container {
    max-width: 200px;
}

.figure-child-to-pioneer {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.figcaption-child-to-pioneer {
    font-size: 12px;
    color: #1f2937;
    text-align: center;
    padding: 5px;
}

.image-child-to-pioneer {
    width: 200px;
    height: 200px;
    border: #865ff1 solid 2px;
    border-radius: 5%;
}


.quote-container {
    background-color:#FF66A8;
    display: flex;
    justify-content: center;  
}

.quote-container .quote-name-box {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    max-width: 900px;
}

.quote-container .quote-text {
    font-size: 30px;
    font-style: italic;
    color: #140a13;
    max-width: 900px;
}

.quote-container .name-box {
    align-self: flex-end;
    margin-left: auto;
}


.newsletter-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-box {
    display: flex;
    justify-content: space-around;
    background-color: #865ff1;
    width: 1000px;
    padding: 30px;
    margin: 70px;
    color: whitesmoke;
}

.title-text-newsletter, 
.paragraph-text-newsletter {
    padding-right: 15px;
}

.get-newsletter {
    align-self: center;
}

/*footer CSS*/
footer {
    color: #FF66A8;
    text-align: center;
    padding: 18px;
}