body {
    margin: 0;
    background-color:#faebd7;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header, footer, .introduction-container {
    background-color: #140a13;
}

.paragraph-styling {
    font-size: 18px;
}

button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #865ff1;
    color: #faebd7;
    border: 2px solid #b4b4f9;
}

button:hover {
    border: 2px solid #fd006e;
    cursor: pointer;
    
}

button:active {
    box-shadow: 0 0 7px white;
}


.header-logo-navigation {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px #faebd7 solid;
    color: #fd006e;

}

.header-logo {
    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
    text-shadow: 1px 0px 2px #faebd7;
}

/*nav styling*/
.header-nav {
    align-content: center;
}

.header-nav ul{
    display: flex;
    gap: 20px;  
    
}

.header-nav ul li {
    list-style: none;
}

.header-nav ul li a {
    font-size: 18px;
    color: #fd006e;
    transition: transform 0.2s;
    text-transform: uppercase;
}

.header-nav ul li a:active {
    font-weight: 900;
}

/*box_1 CSS*/
.introduction-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 50px;
    color: #faebd7;
}

.text-introduction-container, 
.image-introduction-container {
    flex: 1;
}

.text-introduction-title {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.text-introduction-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.image-introduction-container {
    text-align: center;
}

.image-introduction {
    margin-top: 30px;
    height: 400px;
    width: auto;
    border-radius: 5px;
    align-self: center;
}

.readmore-button-text-introduction-paragraph {
    align-self: flex-start;
}



/*box_2 CSS*/
.child-to-pioneer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.child-to-pioneer-container .child-to-pioneer-title {
    font-size: 25px;
    color: #1f2937;
    margin-top: 40px;
    margin-bottom: 20px;
}    

.child-to-pioneer-illustration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.child-to-pioneer-figure-container {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
}

.figure-child-to-pioneer {
    width: 200px;
    height: 200px;
    margin: 10px;
}

.figcaption-child-to-pioneer {
    font-size: 10px;
    color: #1f2937;
    text-align: center;
    padding: 10px;
}

.child-to-pioneer-figure-container .image-child-to-pioneer {
    width: 200px;
    height: 200px;
    display: block;
    border: #865ff1 solid 5px;
    border-radius: 5%;
}

/*box_3 css*/
.box_3 {
    background-color:#fd006e;
    display: flex;
    justify-content: center;  
}

.box_3 .quote_name {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px 0;
    max-width: 900px;
}

.box_3 p {
    font-size: 18px;
}

.box_3 h2 {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    color: #140a13;
    max-width: 900px;
}

.box_3 .item_6 {
    align-self: flex-end;
    margin-right: 10%;
}

/*box_4 CSS*/
.box_4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_4 .item_7 {
    display: flex;
    justify-content: space-around;
    background-color: #865ff1;
    width: 1000px;
    padding: 20px;
    margin: 70px;
    color: #faebd7;
}

.box_4 .item_7 button {
    align-self: center;
}

/*footer CSS*/
footer {
    color: #fd006e;
    text-align: center;
    padding: 18px;
}